@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700,800');
html
{
    font-size: 62.5%;
}

*
{
  box-sizing: border-box;
  margin:0;
  padding:0px;
  font-family: 'Montserrat', helvetica, arial, sans-serif;
 
}


.defaultBotn
{
    background-color: white;
    color: black;
    font-size: 1.6rem;
    padding: 0.5rem 1rem;
    margin: 0.3rem;
    margin-right: 1.2rem;
    width: 20rem;
    height: 3.8rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

.defaultBotn:hover
{
    background-color: rgb(233, 230, 230);
    color: rgb(12, 11, 11);
}

.defaultLink
{
    text-decoration: none;
    color:black;
}

.defaultLink:visited
{
    color: rgb(5, 5, 5);
}


@media (min-width:351px) and (max-width:500px) {

    html{
      font-size: 50%;
    }
      
   }

   @media (min-width:281px) and (max-width:350px) {

    html{
      font-size: 45%;
    }
      
   }

   
   @media (max-width:280px) {

    html{
      font-size: 40%;
    }
      
   }





